html {
    position: relative;
    min-height: 100%;

    body {
        margin: 0 0 80px;
        padding: 0;
        
        @import 'table.scss';
        
        footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 60px;
            padding-top: 10px;
            background-color: #eee;
        }
    }
}